
<header class="header-section">
  <link rel="icon" type="image/png" href="https://tinyurl.com/mw9zkny4" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="https://tinyurl.com/4fxupzrk">
  <link rel="stylesheet" type="text/css" href="https://tinyurl.com/4ev8jbs5">
  <div class="header-bottom">
  <div class="container" >
      <div class="navbar navbar-expand-lg">
          <h1 class="navbar-brand">
          <a href=""> <img src=""> </a>    
          </h1>
  
          <div class="header-content-outer">
              <div class="header-content ml-auto">
              
                  <nav class="main-menu">
                      <ul>
                          <li  class="current-menu-item" ><a href=""><span>Home</span></a></li>
                          <li  >
                          <a href=""><span>About Us</span></a>
                          <div class="tooltip">Hover over me
                              <span class="tooltiptext">Tooltip text</span></li>
                          <li >
                          <a href=""><span>Contact Us</span></a></li>
                          <li >
                          <a href=""><span>Help</span></a></li>
                          <li >
                          <a href=""><span>Feedback</span></a></li>
                          <li >
                          <a href=""><span>Voting</span></a></li>
                          <li>
                              <a href=""><span>Booth Manager Login</span></a></li>
                      </u>
                  </nav>                        
              </div>
          </div>

      </div>
  </div>
</div> 
</header>

